body {
    background: url("../images/burger-lg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
main {
    margin: 0;
    background-color: #fff;
    opacity: 0.85;
    padding: 20px;
}
h1 {
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    margin: 20px;
    color: #ff0000;
}
.centered {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.col-md-6 {
    padding: 0 40px;
}
.devour {
    display: -webkit-flex; /* Safari */
    -webkit-align-items: center; /* Safari 7.0+ */
    display: flex;
    align-items: flex-end;
    float: left;
    margin-right: 20px;
}
.btn-sm {
    padding: 2px 6px;
}
.form-control {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}
.eaten {
    color: #999;
}
ul li {
    list-style: none;
    padding: 5px 0;
}